@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  line-height: 1em;
  color: #1E90FF;
}

#cursor {
  animation: blinker 1s step-end infinite;
  //you can change 'step-end' to 'linear' for smooth transition
}
@keyframes blinker {
  50% { opacity: 0; }
}

#container {
  /*background-color: #FF0000;*/
  width: 70%;
  padding: 50px;
  margin-left: 30%;
  word-wrap: break-word;
  text-align:center;
}
/*.container2 {
  background-color: #FF0000;
  width: 40%;
  padding: 50px;
  margin-left: 70%;
  margin-top: 10%;
  word-wrap: break-word;
  text-align:center;
}*/
.inner {
  /*display:block;*/
}
.pink {
  color: pink;
}
/*.makeblue {
  background-color: blue;
}*/
/*.boxy {
  background-color: purple;
  height: 50px;
  width: 50px;
  display: inline-block;

}
